<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand">Dynamic Color Palette</a>
</nav>

<div class="container-fluid pt-5 pb-2">
  <div class="row">
    <div class="col-sm-2">
      <div>
        Choose Color 1
      </div>
      <div>
        <input [(colorPicker)]="bottomColor" [style.background]="bottomColor" (colorPickerChange)="initializer()" />
      </div>
      <div>
        Choose Color 2
      </div>
      <div>
        <input [(colorPicker)]="topColor" [style.background]="topColor" (colorPickerChange)="initializer()" />
      </div>
      <div>
        Choose Row Number
      </div>
      <div>
        <input type="number" [(ngModel)]="size" (input)="initializer()" />
      </div>
    </div>
    <div class="col-sm-10">
      <div *ngFor="let cell of top; let i = index" class="d-flex justify-content-center ">
        <div *ngFor="let cell of top; let j = index" class="cell" [ngStyle]="{'background-color' : gradient(i, j)}">
        </div>
      </div>
    </div>
  </div>
</div>
